body{
    margin: 0;
    padding: 0;
    background: black;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:contain;
    position: center;
    overflow: hidden;
    width:100%;
    height: 100hv;
}
.vv{
    border: 1px solid;
    width: 70%;
    height:150px;
    background-image: url(/image/opp.jpg);
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    padding: 20px 50px;
    font-size: 60px;
    font-family: "montserrat";
    color:whitesmoke;
    cursor: pointer;
    text-align: center;
    transition: 0.8s;
}
.vv:hover, .wv:hover, .xv:hover {
    color: rgb(35, 238, 113);
}
.wv{
    border: 1px solid;
    width: 70%;
    height:150px;
    background-image: url(/image/cs.jpg);
    background-position: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    font-size: 60px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    transition: 0.8s;


}
.xv{
    border: 1px solid;
    width: 70%;
    height: 150px;
    background-image: url(/image/th.jpg);
    background-position:center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    padding: 20px 50px;
    font-size: 60px;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    transition: 0.8s;

}
.button::before{
    content: "";
    position:sticky;
    left: 0;
    top:0;
    background:#fff;
    z-index:  -1;
    transition: transform 0.5s;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 10px;
}