*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.eyob{
    width:100% ;
    height:100vh ;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(eyy.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
.formbox{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    background: #ffffff21;
    padding: 50px 60px 70px;
    text-align: center;

}
.formbox h1{
    font-size: 30px;
    margin-bottom: 60px;
    color:#11e835 ;
    position: relative;

}
.formbox h1::after{
    content:'';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c3c3c;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50% );

}
.input-ee{
    background:rgba(255, 255, 255, 0.534);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;

}
input{
    width:  100%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 15px 12px;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    background: #11e835;
    box-shadow: 0 15;
    border: 0;
    cursor: pointer;
    transition:background 1s ;
    color: burlywood;
}