@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background:#000000f0;
        background-image: url(er.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: fixed;
        background-size:contain;
        position: center;
        overflow: hidden;
        width:100%;
        height: 100hv;
    }
    .eyu{
        position: relative;
        width: 400px;
        height: 500px;
        background: #0000009c;
        box-shadow: 0 0 50px #077b4b;
        border-radius: 20px;
        padding: 40px;
    }
    .eyuu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100%;
    }
    h2{
        font-size: 30px;
        color: aliceblue;
        text-align: center;
    }
    .input-group{
        position: relative;
        margin: 30px;
        border-bottom: 2px solid whitesmoke;
    }
    .input-group label{
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50);
        font-size: 16px;
        color: aliceblue;
        pointer-events: none;
    }
    .input-group input{
        width: 320px;
        height: 40px;
        font-size: 16px;
        color: antiquewhite;
        padding:0 5px;
        background: transparent;
        border: none;
        outline: none;
        transition: .5s;
    }
    .input-group input:focus~label,
    .input-group input:valid~label{
        top: -5px;
    }
    .remember{
        margin: -5px 0 15px 5px;
    }
    .remember label{
        color:white;
        font-size: 14px;
    }
    .remember label input{
        accent-color:#077b6b ;

    }
    button{
        position: relative;
        width: 100%;
        height: 40px;
        background: #077b60;
        box-shadow: 0 0 10px #077b4b;
        font-size: 16px;
        color: #000;
        font-weight: 500;
        cursor: pointer;
        border-radius: 30px;
        border: none;
        outline: none;
    }
    .sign-up{
        font-size: 14px;
        text-align: center;
        margin: 15px 0px;
    }
    .sign-up p{
        color: aliceblue;
    }
    .sign-up p a{
        color: aqua;
        text-decoration: none;
        font-weight: 500;
    }
    .sign-up p a:hover{
        text-decoration: underline;
    }